.mr8px{
  margin-right: 8px;
}
.mr10px{
  margin-right: 10.25px;
}
.mr12{
  margin-right: 11.5px;
}
.mr24px{
  margin-right: 24px;
}
.mr20px{
  margin-right: 20px;
}
.mr30px{
  margin-right: 30px;
}
.ml30px{
  margin-left: 30px;
}
.mr80px{
  margin-right: 80px;
}
.mt80px{
  margin-top: 80px;
}
.mb110px{
  margin-bottom: 110px;
}
.mt70px{
  margin-top: 70px;
}
.mt5px{
  margin-bottom: 5px;
}
.mb16{
  margin-bottom: 16px;
}
.mb20{
  margin-bottom: 20px;
}
.mb30px{
  margin-bottom: 30px;
}
.mb60px{
  margin-bottom: 60px;
}
.mb70{
  margin-bottom: 70px;
}
.mb35{
  margin-bottom: 35px;
}
.mb80{
  margin-bottom: 80px;
}
.mb81{
  margin-bottom: 81px;
}
.mb45{
  margin-bottom: 45px;
}
.mb50{
  margin-bottom: 50px;
}
.mb90{
  margin-bottom: 90px;
}
.mt15{
  margin-top: 15px;
}
.mt57{
  margin-top: 57px;
}
.mt45{
  margin-top: 45px;
}
.mt20{
  margin-top: 20px;
}
.mb18{
  margin-bottom: 18px;
}
.mb8{
  margin-bottom: 8px;
}
.mt11_5{
 margin-top: 11.5px;
}
.mt40{
  margin-top: 40px;
}
.mt30{
  margin-top: 30px;
}
.mt25{
  margin-top: 25px;
}
.pt80{
  padding-top: 80px;
}
.p35{
  padding: 35px;
}
pb20{
  padding-bottom: 20px;
}
.pb5{
  padding-bottom: 5px;
}
.pb30{
  padding-bottom: 30px;
}
.pb80{
  padding-bottom: 80px;
}
.p20{
  padding: 20px;
}
.p45-36{
  padding-bottom: 45.36px;
}
.pt44-64{
  padding-top: 44.64px;
}
.pt47px{
  padding-top: 47px;
}