.m-auto{
  margin: 0 auto;
}
.pt10percent{
  padding-top: 10%;
}
.pt20percent{
  padding-top: 20%;
}
.pt45percent{
  padding-top: 45%;
}
.pt60percent{
  padding-top: 60%;
}
.pt70percent{
  padding-top: 70%;
}
.pt80percent{
  padding-top: 70%;
}
.pt90percent{
  padding-top: 90%;
}
.pt100percent{
  padding-top: 100%;
}
.pl30{
  padding-left: 30px;
}
.max196px{
  max-width: 196px;
}
.max470{
  max-width: 470px;
}
.max570px{
  max-width: 570px;
}
.max592px{
  max-width: 592px;
}
.max640px{
  max-width: 640px;
}
.max865px{
  max-width: 865px;
}
.min-h72{
  min-height: 72px;
}
.min-h112{
  min-height: 112px!important;
}
.h112{
  height: 112px!important;
}
.min-h380{
  min-height: 380px;
}
.max-h316{
  max-width: 316px;
}
.max390{
  max-width: 390px;
}
.max-h480{
  max-height: 480px;
}
.max-h140{
  max-height: 140px;
}
.max-h253{
  max-height: 253px;
}
.max370{
  max-width: 370px;
}
.max190{
  max-width: 190px;
}
.container-custom{
  margin: 0px 4.25rem;
}
.container1170{
  max-width: 1170px!important;
}
.container970{
  max-width: 970px!important;
}
.container1240{
  max-width: 1240px!important;
}
.container1183{
  max-width: 1183px!important;
}
.container1167{
  max-width: 1167px!important;
}
.container1290{
  max-width: 1290px!important;
}
.container770{
  max-width: 770px!important;
}
.container1240{
  max-width: 1240px!important;
}
.container910{
  max-width: 910px!important;
}